
body {
  margin: 0;
  padding: 2rem;
  color:#ffffff;
  font-family: 'Electrolize', sans-serif;
}

.app-container{
  text-align: center;
  border: 0.6rem inset rgba(125, 119, 128, 0.31);
  border-radius: 0.5rem;
  margin: auto;
  padding: 1rem;
  max-width: 800px;
  display: grid;
  grid-template-columns: auto 60vmin;
  grid-template-rows: auto auto 50vmin 10vmin;
  background-color: #373738;
  user-select:none;
  box-shadow: 0 0 2rem 5px rgba(255, 255, 255, 0.2);
  transform: perspective(50rem) rotateX(5deg);
}

#title{
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: right;
  font-family: 'Electrolize', sans-serif;
}


.drum-machine-model{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  height: 3rem;
  font-size: 2rem;
  text-align: left;
  align-self: start;
  font-family: 'Orbitron', sans-serif;
}

#display{
  grid-column-start: 2;
  grid-row-start: 2;
  display: block;
  width: 92%;
  height: 7vmin;
  line-height: 7vmin;
  min-height: 1.5rem;
  justify-self: center;
  padding: 0.2rem;
  border: 0.1rem solid black;
  background: rgb(34,105,201);
  background: radial-gradient(ellipse,rgba(80,148,255,0.78)   0%, rgba(34,105,201,1) 100%);
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  font-size: 4vmin;
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 0.1rem 0.1em 1.2rem rgba(0,0,0,0.5), inset 0.1rem 0.1em 0.1rem rgba(0,0,0,0.5);
  transition: 1s;
}

#machine-controls{
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 0;
}



#volume-slider{
  grid-column-start: 1;
  grid-row-start: 4;
  margin-right: 1rem;
}

#volume-slider label{
  display: block;
}

#volume-slider input{
  display: block;
  background-color: transparent;

}

#drum-pads-constianer{
  grid-column-start: 2;  
  grid-row-start: 3;
  grid-row-end: span 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  padding: 4%;
}

.drum-pad{
  padding:1rem;
  font-weight: bold;
  background-color: rgba(255,255,255,0.2);
  border: 0.1rem solid black;
  border-radius: 5%;
  font-size: 1.3rem;
  color: rgba(0,0,0,0.2);
  font-family: 'Electrolize', sans-serif;
  box-shadow: 0.1rem 0.1rem rgba(0,0,0,0.5), inset 0 0 0.2rem 1px rgba(0,0,0,0.5);
  transition: 0.05s;
}

.drum-pad:active, .drum-pad-active{
  transform: translate(0.1rem, 0.1rem);  
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0rem 0rem rgba(0,0,0,0.5), inset 0 0 1px 1px rgba(0,0,0,0.5), inset 0 0 38px 28px #ffc20054, inset 0 0 35px 19px rgba(0,0,0,0.5), inset 0 0 14px 1px rgba(0,0,0,0.5);
}

.drum-pad:focus{
  outline: none;
}

#drumkit-banks-container{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  height: 100%;
  padding: 0;
  margin-right: 1rem;
  padding-top: 4%;
}
#drumkit-banks-container fieldset{
  padding: 0.5rem;
}


#drumkit-banks-radio-container{
  padding: 0.5rem 0;
  text-align: left;
}



#drumkit-banks-radio-container input{
  appearance: none;
}

.drumkit-bank-radio{
  display: block;
  padding: 1rem ;
  background: rgba(255,255,255,0.2);
  margin: 1rem 0.3rem;
  border-radius: 0.3rem;
  border: 0.05rem solid rgba(0,0,0,0.7);
  box-shadow: 0.05rem 0.05rem rgba(0,0,0,0.5), inset 0 0 1px 1px rgba(0,0,0,0.4);;
  transition: 0.05s
}

.drumkit-bank-radio:active{
  transform: translate(0.1rem, 0.1rem);
  box-shadow: 0rem 0rem rgba(0,0,0,0.5), inset 0 0 1px 1px rgba(0,0,0,0.4);
}

.drumkit-bank-led, .drumkit-bank-led-checked{
  width: 0.5rem;
  height: 0.5rem;
  background-color: #7e0c0c;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  transition: 0.5s;
  box-shadow: inset 0 0 1px 2px rgba(0,0,0,0.2);
}

.drumkit-bank-led-checked{
  background-color: #ff0f0f;
  box-shadow: 0px 0px 7px 0px #ff0f0f, inset 0 0 1px 2px rgba(0,0,0,0.2);
}

/*
Styling for background simulating galaxy
*/
@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

body{  
  background: radial-gradient(circle at bottom, #03037e 0, black 70%);
  height: 100vh;
  overflow: hidden;
}

.space {
  z-index: -3;
  background: rgba(128, 0, 70, 0.05) center / 200px 200px round;
  position: absolute;  
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;  
  box-shadow: 0 0 15rem 1rem rgba(128, 0, 70, 0.1);
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}


/* Styling sider */
/* TODO Style the slider*/
input[type=range] {
  height: 2em;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.1);
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #000000;
  height: 2.5em;
  width: 0.75em;
  margin-top: -1em;
  background: #5f5f60;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.2);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.1);
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #000000;
  height: 2.5em;
  width: 0.75em;
  margin-top: -1em;
  background: #5f5f60;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0,0,0,0.1);
  border: 1px solid #000000;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0,0,0,0.1);
  border: 1px solid #000000;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}
input[type=range]::-ms-thumb {
  box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #000000;
  height: 2.5em;
  width: 0.75em;
  margin-top: -1em;
  background: #5f5f60;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0,0,0,0.2);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0,0,0,0.2);
}

/**screen size less than 1000px width**/
@media (max-width: 1000px) {

  .app-container{
    grid-template-rows: auto 3rem 50vmin auto;
    grid-template-columns: 67% auto;
  }

  .drum-machine-model{
    height: 2rem;
    font-size: 1.5rem;
    padding-bottom:0.5rem;
  }

  #title{
    font-size: 0.75rem;
  }

  #display{
    grid-column-start:1;
    width: 90%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    min-height: 1rem;
    margin-left: 1rem;
    justify-self: left;
  }

  #volume-slider{
    grid-column-start:2;
    grid-row-start: 2;
    font-size: 0.75rem;
    margin: 0 1rem;
  }

  #volume-slider input{
    font-size: 0.75rem;
  }

  input[type=range] {
    height: 1em;
  }

  #drum-pads-constianer{
    grid-column-start:1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;
    padding: 2%;
  }

  #drumkit-banks-container{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 4;
    margin: 0 1rem;
    padding-top: 1rem;
  }

  .drumkit-bank-radio{
    font-size: 0.75rem;
    min-width: 10em;
    margin: 0.25rem;
  }

  #drumkit-banks-radio-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

/**screen size less than 550px width**/
@media (max-width: 550px) {
  .app-container{
    grid-template-rows: 3rem auto auto auto;
    grid-template-columns: 50% 50%;
  }

  .keypad-letter{
    visibility: hidden;
  }

  .drum-machine-model{
    height: 1.5rem;
    font-size: 1rem;
  }

  .drumkit-bank-radio{
    padding: 0.5rem;
  }

  #drumkit-banks-container{
    padding-top: 2rem;
    font-size: 0.8rem;
    margin: 0;
  }

  #title{
    display: none;
  }

  #display{
    margin: 0;
    justify-self: center;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    grid-column-end: span 2;
    width: 92%;
    margin-bottom: 0.1rem;
  }

  #volume-slider{
    font-size: 0.5rem;
    grid-row-start:1;

  }

  #volume-slider input{
    font-size: 0.5rem;
  }
}
