
body {
  margin: 0;
  padding: 2rem;
  color:#ffffff;
  font-family: 'Electrolize', sans-serif;
}

.app-container{
  text-align: center;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  margin: auto;
  padding: 1rem;
  max-width: 900px;
  display: grid;
  grid-template-columns: 5rem 50vmin auto;
  grid-template-rows: auto auto 50vmin;
  background-color: #373738;
  user-select:none;
  box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.5);
}

#title{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  text-align: left;
  font-family: 'Electrolize', sans-serif;
}

#volume-slider label, legend{
  height: 1rem;
  padding: 0.5rem;
  margin: auto;
}

.drum-machine-model{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  height: 3rem;
  font-size: 2rem;
  text-align: right;
  align-self: start;
  font-family: 'Orbitron', sans-serif;
}

#display{
  border: 0.1rem solid black;
  background: rgb(34,105,201);
  background: radial-gradient(ellipse,rgba(80,148,255,0.78)   0%, rgba(34,105,201,1) 100%);
  padding: 0.2rem;
  height: 5vmin;
  line-height: 5vmin;
  grid-column-start: 2;
  grid-row-start: 2;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Orbitron', sans-serif;
}

#machine-controls{
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 0;
}

#volume-slider{
  grid-column-start: 1;
  grid-row-start: 3;
  margin-right: 1rem;
}

#volume-slider label{
  display: block;
}

#volume-slider input{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 1rem;
  height: calc(100% - 2rem);
  display: block;
  margin: auto;
}

#drum-pads-constianer{
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.drum-pad{
  padding:1rem;
  margin: 2%;
  height: 14vmin;
  width: 14vmin;
  font-weight: bold;
  background-color: rgba(255,255,255,0.2);
  border: 0.1rem solid black;
  border-radius: 5%;
  font-size: 1.3rem;
  color: rgba(0,0,0,0.2);
  font-family: 'Electrolize', sans-serif;
  box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.5);
}

.drum-pad:active{
  box-shadow: none;
  transform: translate(0.1rem, 0.1rem);  
}

.drum-pad:focus{
  outline: none;
}

#drumkit-banks-container{
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: span 2;
  height: 100%;
  padding: 0;
  margin-left: 1rem;
  box-sizing: border-box;
}

#drumkit-banks-radio-container{
  padding: 0.5rem 0;
  text-align: left;
}



#drumkit-banks-radio-container input{
  appearance: none;
}

.drumkit-bank-radio{
  display: block;
  padding: 1rem ;
  background: rgba(255,255,255,0.2);
  margin: 1rem 0.3rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0,0,0,0.7);
  box-shadow: 0.1rem 0.1rem rgba(0,0,0,0.5);
}

.drumkit-bank-radio:active{
  box-shadow: none;
  transform: translate(0.1rem, 0.1rem);
}

.drumkit-bank-led, .drumkit-bank-led-checked{
  width: 0.5rem;
  height: 0.5rem;
  background-color: #7e0c0c;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.drumkit-bank-led-checked{
  background-color: #ff0f0f;
}
